
<!-- 
    <div style="margin-inline: 1px;">
        <ul class="nav  navbar-right">
          <li class="nav-item active ">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" [routerLink]="['/contact-list']" >Contacts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/contact-create']">add Contact</a>
      </li>
    </ul>
    </div> -->
  

    <div style="margin-inline: 1px;">
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="nav navbar-right ">   
          <li id ="App" class="navbar-brand active"><h3> Contact App</h3></li>
          <li class="navbar-brand active ">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
        <li class="navbar-brand active" >
          <a class="nav-link" [routerLink]="['/contact-list']" >Contacts</a>
        </li>
      <li class="navbar-brand active">
        <a class="nav-link" [routerLink]="['/contact-create']">Add Contact</a>
      </li>
      </ul>
    </nav>
    </div>