

    <div style="margin-inline: 1px;">
        <ul class="nav  navbar-right">
          <li class="nav-item active ">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" [routerLink]="['/contact-list']" >Contacts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/contact-create']">add Contact</a>
      </li>
      
            <!-- <li><form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input ng-model="searchText" class="form-control" placeholder="Search">
                </div>
                <a >Search Contact</a> <a href="#" class="btn btn-default" role="button"></a>
              </form></li> -->
          </ul>
    </div>
  