
 <div class="item active d-block w-100" style="background-image:url(../assets/3.jpg)">
    <div class="w3-container w3-center w3-animate-top">
    <br><br><br>
        <b style="color:red;font-size:20pt;font-family:Copperplate Gothic">WELCOME</b>
        <br>
        <b style="color:red;font-size:20pt;font-family:Copperplate Gothic">TO</b>
        <br>
        <b style="color:brown;font-size:40pt;font-family:Engravers MT">Contact List Application</b>
        <p style="color:green;font-size:14pt;font-family:Comic Sans MS">A SIMPLIFIED WEB APPLICATION THAT PROVIDES FACILITY</p>
        </div>
        </div>
<div class="card-body ">
<div class="container-fluid">
            <div class="text-center copy">@All Copyrights - Ajeet Singh </div>
        </div>
</div>
